<mat-toolbar color="primary">
    <span>Calendar</span>
      <span class="pl-15">
        <button mat-raised-button color="secondary" id="previous-button" (click)="addNewEvent()">
          <mat-icon>add</mat-icon>Appointment
        </button>
      </span>
    <div class="container">
      <div class="center">
        <span class="pr-15">
          <button mat-raised-button color="secondary" id="previous-button" (click)="dateService.previousMonth()">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </span>
        <span class="current-month">
          {{(currentMonth | async )?.format('MMMM, YYYY')}}
        </span>
        <span class="pl-15">
          <button mat-raised-button color="secondary" id="next-button" (click)="dateService.nextMonth()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </span>
      </div>
    </div>
  </mat-toolbar>
