<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div *ngFor="let event of day.events" class="column border-bottom">
        <small>{{event.title}}</small>
        <small>{{event.meta}}</small>
        <small>{{event.start | date: 'shortTime'}}-{{event.end  | date: 'shortTime'}}</small>
    </div>
    
</ng-template>

<ng-template #loading>
    <div class="text-center">
      <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
      Loading events...
    </div>
</ng-template>

<div *ngIf="eventSubscription | async; else loading; let events">
<mwl-calendar-month-view [viewDate]="viewDate"
    [excludeDays]="excludeDays"
    [events]="events"
    [cellTemplate]="customCellTemplate"></mwl-calendar-month-view>
</div>